/*------------------------------------*
 *  # Constants
 *------------------------------------*/
/* stylelint-disable color-no-hex */
/* COLOR PALETTE */
:root {
  --text-size-xxs: 1.2rem;
  --text-size-xs: 1.4rem;
  --text-size-s: 1.6rem;
  --text-size-sm: 2rem;
  --text-size-m: 2.4rem;
  --text-size-l: 3.2rem;
  --text-size-xl: 4.8rem;
  --text-size-xxl: 6.4rem;
  --brand-dark-grey: #0e0e0e;
  --brand-red-coral: #ff444f;
  --brand-orange: #ff6444;
  --brand-secondary: #85acb0; }
  :root .theme--light {
    --general-main-1: #ffffff;
    --general-main-2: #ffffff;
    --general-section-1: #f2f3f4;
    --general-section-2: #f2f3f4;
    --general-disabled: #eaeced;
    --general-hover: #e6e9e9;
    --general-active: #d6dadb;
    --text-prominent: #333333;
    --text-general: #333333;
    --text-less-prominent: #999999;
    --text-disabled: #d6d6d6;
    --text-profit-success: #4bb4b3;
    --text-loss-danger: #ec3f3f;
    --text-colored-background: #ffffff;
    --purchase-main-1: #4bb4b3;
    --purchase-section-1: #3d9494;
    --purchase-main-2: #ec3f3f;
    --purchase-section-2: #d33636;
    --purchase-disabled-main: #eaeced;
    --purchase-disabled-section: #e6e9e9;
    --button-primary-default: var(--brand-red-coral);
    --button-secondary-default: #999999;
    --button-tertiary-default: transparent;
    --button-primary-hover: #eb3e48;
    --button-secondary-hover: rgba(0,0,0,0.07843);
    --button-tertiary-hover: rgba(255,68,79,0.07843);
    --overlay-outside-dialog: rgba(0,0,0,0.72157);
    --overlay-inside-dialog: rgba(255,255,255,0.96078);
    --shadow-menu: rgba(0,0,0,0.16078);
    --state-normal: #ffffff;
    --state-hover: #e6e9e9;
    --state-active: #d6dadb;
    --state-disabled: #eaeced;
    --border-normal: #d6dadb;
    --border-hover: #999999;
    --border-active: var(--brand-secondary);
    --border-disabled: #eaeced;
    --fill-normal: #ffffff;
    --fill-hover: #999999;
    --fill-active: var(--brand-secondary);
    --fill-disabled: #eaeced;
    --status-default: #eaeced;
    --status-danger: #ec3f3f;
    --status-success: #4bb4b3;
    --status-warning: #ffad3a;
    --status-info: #377cfc;
    --status-colored-background: #ffffff;
    --transparent-success: transparentize(#4bb4b3, 0.92); }
  :root .theme--dark {
    --general-main-1: #0e0e0e;
    --general-main-2: #151717;
    --general-section-1: #151717;
    --general-section-2: #0e0e0e;
    --general-disabled: #1d1f20;
    --general-hover: #242828;
    --general-active: #323738;
    --text-prominent: #ffffff;
    --text-general: #c2c2c2;
    --text-less-prominent: #6e6e6e;
    --text-disabled: #3e3e3e;
    --text-profit-success: #00a79e;
    --text-loss-danger: #cc2e3d;
    --text-colored-background: #ffffff;
    --purchase-main-1: #00a79e;
    --purchase-section-1: #008079;
    --purchase-main-2: #cc2e3d;
    --purchase-section-2: #a32430;
    --purchase-disabled-main: #1d1f20;
    --purchase-disabled-section: #0e0e0e;
    --button-primary-default: var(--brand-red-coral);
    --button-secondary-default: #6e6e6e;
    --button-tertiary-default: transparent;
    --button-primary-hover: #eb3e48;
    --button-secondary-hover: rgba(0,0,0,0.07843);
    --button-tertiary-hover: rgba(255,68,79,0.07843);
    --overlay-outside-dialog: rgba(0,0,0,0.72157);
    --overlay-inside-dialog: rgba(14,14,14,0.96078);
    --shadow-menu: rgba(0,0,0,0.30196);
    --state-normal: #0e0e0e;
    --state-hover: #242828;
    --state-active: #323738;
    --state-disabled: #1d1f20;
    --border-normal: #323738;
    --border-hover: #6e6e6e;
    --border-active: var(--brand-secondary);
    --border-disabled: #1d1f20;
    --fill-normal: #0e0e0e;
    --fill-hover: #6e6e6e;
    --fill-active: var(--brand-secondary);
    --fill-disabled: #1d1f20;
    --status-default: #eaeced;
    --status-danger: #cc2e3d;
    --status-warning: #ffad3a;
    --status-success: #00a79e;
    --status-info: #377cfc;
    --status-colored-background: #ffffff;
    --transparent-success: transparentize(#00a79e, 0.92); }

/* Preserve legacy variables */
/* Primary */
/* stylelint-enable color-no-hex */
/*------------------------------------*
 *  # SASS Mixins and Functions
 *------------------------------------*/
/*
 * SASS interpolation
 */
/*
 * PX to EM
 * @param $px - px value to be converted
 * @param $base - base font size (in `em`)
 * Note: 'em' values are calculate based on the element font-size
 *       to properly converts 'px' to 'em', please pass in the element font-size with it
 * Usage example:
    padding: em(16px, 1.6em); // font-size in 'em'
 */
/*
 * Set property by passing a property name, and values.
 * @param $property name - padding, margin etc.
 * @param $values        - values in `px` (space separated for multiple values)
 * @param $font-size     - base font-size in `em`
 * Usage example:
   @include toEm(padding, 8px 16px 8px, 1.6em);
 */
/*
 * Generate typefaces key-value pair of variable name and config
 * Example:
   --paragraph-center-bold-black: (14px, center, bold, black)
 */
/*
 * Sets font-size, font-weight, color, text-transform, text-align and line-height
 * Usage example:
   @include setTypeface(16px, bold, black, uppercase);
 */
/*
 * Set typefaces by passing a typeface variable name
 * @param $var   - typeface variable
 * @param $tt    - text-transform property
 * @param $align - text-align property
 * Usage example:
   @include typeface(--paragraph-bold-black, uppercase, center);
 */
/*
 * Range Slider Thumb styling is set here
 */
/*
 * SVG icons colors
 */
/*
 * Bar Spinner Animation
 * @param $count    - number of bars
 * @param $duration - duration of animation
 * @param $phase    - each bar phase change delay
 * Usage example:
   @include createBarspinnerAnimation(5, 1.2s, 0,1);
 */
/*
 * Implementation of themes
 * generate sets of themes keys object property (dark / light)
 * @param $themes - themes property
 * Usage example:
   @include themify($themes) { color: themed('background_color') }
 */
/*
 * Generate typefaces key-value pair of themefy object
 * Should be inside themify mixins
 * Example:
   @include themify($themes) { border-color: 1px solid themed('background_color') }
 */
/*
 * Tooltip colors
 * @param $color - color property
 * Usage example:
   @include tooltipColor($COLOR_RED);
 */
/*
 * Themified Tooltip colors
 * @param $color - color property
 * Usage example:
   @include tooltipColor($COLOR_RED);
 */
/*
 * Convert Tooltip colors
 * @param $color - css color property
 * Usage example:
   @include convertTooltipColor(var(--status-default));
 */
/*
    Constants
*/
/*
    Variables
*/
/*
    List of all typefaces variables in the format: --$FONT_SIZES-$TEXT_ALIGN-$FONT_WEIGHTS-COLORS.
    See $FONT_SIZES, $TEXT_ALIGN, $FONT_WEIGHTS, $COLORS maps above for references.
    Variables name example: --title-center-semibold-red
 */
/*
    to use styles without modifier class on .inline-icon
    use @extend

    e.g. style icon on parent hover:
        a:hover .inline-icon {
            @extend %inline-icon.active;
        }
*/
:root {
  --text-size-xxs: 1.2rem;
  --text-size-xs: 1.4rem;
  --text-size-s: 1.6rem;
  --text-size-sm: 2rem;
  --text-size-m: 2.4rem;
  --text-size-l: 3.2rem;
  --text-size-xl: 4.8rem;
  --text-size-xxl: 6.4rem;
  --brand-dark-grey: #0e0e0e;
  --brand-red-coral: #ff444f;
  --brand-orange: #ff6444;
  --brand-secondary: #85acb0; }

:root .theme--light {
  --general-main-1: #fff;
  --general-main-2: #fff;
  --general-section-1: #f2f3f4;
  --general-section-2: #f2f3f4;
  --general-disabled: #eaeced;
  --general-hover: #e6e9e9;
  --general-active: #d6dadb;
  --text-prominent: #333;
  --text-general: #333;
  --text-less-prominent: #999;
  --text-disabled: #d6d6d6;
  --text-profit-success: #4bb4b3;
  --text-loss-danger: #ec3f3f;
  --text-colored-background: #fff;
  --purchase-main-1: #4bb4b3;
  --purchase-section-1: #3d9494;
  --purchase-main-2: #ec3f3f;
  --purchase-section-2: #d33636;
  --purchase-disabled-main: #eaeced;
  --purchase-disabled-section: #e6e9e9;
  --button-primary-default: var(--brand-red-coral);
  --button-secondary-default: #999;
  --button-tertiary-default: transparent;
  --button-primary-hover: #eb3e48;
  --button-secondary-hover: rgba(0,0,0,0.0784314);
  --button-tertiary-hover: rgba(255,68,79,0.0784314);
  --overlay-outside-dialog: rgba(0,0,0,0.721569);
  --overlay-inside-dialog: rgba(255,255,255,0.960784);
  --shadow-menu: rgba(0,0,0,0.160784);
  --state-normal: #fff;
  --state-hover: #e6e9e9;
  --state-active: #d6dadb;
  --state-disabled: #eaeced;
  --border-normal: #d6dadb;
  --border-hover: #999;
  --border-active: var(--brand-secondary);
  --border-disabled: #eaeced;
  --fill-normal: #fff;
  --fill-hover: #999;
  --fill-active: var(--brand-secondary);
  --fill-disabled: #eaeced;
  --status-default: #eaeced;
  --status-danger: #ec3f3f;
  --status-success: #4bb4b3;
  --status-warning: #ffad3a;
  --status-info: #377cfc;
  --status-colored-background: #fff;
  --transparent-success: transparentize(#4bb4b3, 0.92); }

:root .theme--dark {
  --general-main-1: #0e0e0e;
  --general-main-2: #151717;
  --general-section-1: #151717;
  --general-section-2: #0e0e0e;
  --general-disabled: #1d1f20;
  --general-hover: #242828;
  --general-active: #323738;
  --text-prominent: #fff;
  --text-general: #c2c2c2;
  --text-less-prominent: #6e6e6e;
  --text-disabled: #3e3e3e;
  --text-profit-success: #00a79e;
  --text-loss-danger: #cc2e3d;
  --text-colored-background: #fff;
  --purchase-main-1: #00a79e;
  --purchase-section-1: #008079;
  --purchase-main-2: #cc2e3d;
  --purchase-section-2: #a32430;
  --purchase-disabled-main: #1d1f20;
  --purchase-disabled-section: #0e0e0e;
  --button-primary-default: var(--brand-red-coral);
  --button-secondary-default: #6e6e6e;
  --button-tertiary-default: transparent;
  --button-primary-hover: #eb3e48;
  --button-secondary-hover: rgba(0,0,0,0.0784314);
  --button-tertiary-hover: rgba(255,68,79,0.0784314);
  --overlay-outside-dialog: rgba(0,0,0,0.721569);
  --overlay-inside-dialog: rgba(14,14,14,0.960784);
  --shadow-menu: rgba(0,0,0,0.301961);
  --state-normal: #0e0e0e;
  --state-hover: #242828;
  --state-active: #323738;
  --state-disabled: #1d1f20;
  --border-normal: #323738;
  --border-hover: #6e6e6e;
  --border-active: var(--brand-secondary);
  --border-disabled: #1d1f20;
  --fill-normal: #0e0e0e;
  --fill-hover: #6e6e6e;
  --fill-active: var(--brand-secondary);
  --fill-disabled: #1d1f20;
  --status-default: #eaeced;
  --status-danger: #cc2e3d;
  --status-warning: #ffad3a;
  --status-success: #00a79e;
  --status-info: #377cfc;
  --status-colored-background: #fff;
  --transparent-success: transparentize(#00a79e, 0.92); }

.dc-dropdown__select-arrow .color1-fill {
  fill: var(--text-general); }

.dc-dropdown__select-arrow .color1-stroke {
  stroke: var(--text-general); }

.dc-dropdown__select-arrow .color2-fill {
  fill: none; }

.dc-dropdown__select-arrow .color2-stroke {
  stroke: none; }

.active.dc-dropdown__select-arrow .color1-fill {
  fill: var(--text-prominent); }

.active.dc-dropdown__select-arrow .color1-stroke {
  stroke: var(--text-prominent); }

.active.dc-dropdown__select-arrow .color2-fill {
  fill: none; }

.active.dc-dropdown__select-arrow .color2-stroke {
  stroke: none; }

.disabled.dc-dropdown__select-arrow .color1-fill {
  fill: var(--text-disabled); }

.disabled.dc-dropdown__select-arrow .color1-stroke {
  stroke: var(--text-disabled); }

.disabled.dc-dropdown__select-arrow .color2-fill {
  fill: none; }

.disabled.dc-dropdown__select-arrow .color2-stroke {
  stroke: none; }

.white.dc-dropdown__select-arrow .color1-fill {
  fill: var(--text-prominent); }

.white.dc-dropdown__select-arrow .color1-stroke {
  stroke: var(--text-prominent); }

.border_hover_color.dc-dropdown__select-arrow .color1-fill {
  fill: var(--text-prominent); }

.border_hover_color.dc-dropdown__select-arrow .color1-stroke {
  stroke: var(--text-prominent); }

.secondary.dc-dropdown__select-arrow .color1-fill {
  fill: var(--text-less-prominent); }

.secondary.dc-dropdown__select-arrow .color1-stroke {
  stroke: var(--text-less-prominent); }

.dc-dropdown__label {
  position: absolute;
  font-size: 1.4rem;
  font-size: var(--text-size-xs);
  transform: translate(0.5rem, -1rem) scale(0.75);
  z-index: 2;
  color: var(--text-less-prominent);
  padding: 0 4px;
  background-color: var(--fill-normal);
  pointer-events: none;
  transition: 0.25s ease all; }

.dc-dropdown__label--clicked {
  color: #85acb0;
  color: var(--brand-secondary); }

.dc-dropdown__display {
  cursor: pointer;
  border-radius: 4px;
  height: 3.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--fill-normal);
  border: 1px solid var(--border-normal); }

.dc-dropdown__display:hover {
  outline: 0;
  border-color: var(--border-hover); }

.dc-dropdown__display:active, .dc-dropdown__display:focus {
  outline: 0;
  border-color: var(--border-active); }

.dc-dropdown__display-text {
  padding-left: 1em;
  padding-right: 2.5em;
  font-size: 1.4em;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 400;
  text-transform: capitalize;
  text-align: center;
  line-height: 1.5;
  color: var(--text-prominent);
  display: flex; }

.dc-dropdown__display-text--placeholder:after {
  content: attr(placeholder);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; }

.dc-dropdown__display--is-left-text {
  justify-content: flex-start; }

.dc-dropdown__display--is-left-text .dc-dropdown__display-text {
  padding-left: 1.2rem; }

.dc-dropdown__display--has-symbol {
  justify-content: unset; }

.dc-dropdown__display--no-border {
  border-color: var(--fill-normal); }

.dc-dropdown__display-placeholder {
  position: absolute;
  top: 1.2rem;
  left: 1rem;
  pointer-events: none;
  transition: 0.25s ease all;
  transform: translateZ(0);
  transform-origin: top left; }

.dc-dropdown__display-placeholder-text {
  font-size: 1.4em;
  padding: 0 4px;
  color: var(--color-grey);
  background: var(--fill-normal); }

.dc-dropdown__display-placeholder--is-left-text {
  justify-content: flex-start;
  left: 8px; }

.dc-dropdown__display-placeholder--is-left-text.dc-dropdown__display-placeholder--is-title {
  transform: translate(0rem, -1.7rem) scale(0.75);
  padding: 0 4px; }

.dc-dropdown__display-placeholder--is-left-text.dc-dropdown__display-placeholder--is-title .dc-dropdown__display-placeholder-text {
  color: var(--text-general) !important; }

.dc-dropdown__inner {
  pointer-events: none;
  opacity: 0;
  height: 0;
  width: 0; }

.dc-dropdown--no-margin .dc-dropdown__display {
  margin: 0; }

.dc-dropdown__select-arrow {
  display: inline-block;
  font-style: normal;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  position: absolute;
  pointer-events: none;
  top: calc(50% - 7px);
  right: 12px;
  transition: transform 0.2s ease;
  transform: rotate(0deg);
  transform-origin: 50% 45%;
  font-size: 1.6em;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 400;
  text-transform: none;
  text-align: center;
  line-height: 1.75; }

.dc-dropdown__select-arrow:before {
  content: '\002303';
  display: block;
  height: 0.53em; }

.dc-dropdown:active, .dc-dropdown:focus, .dc-dropdown--show {
  outline: none;
  border-radius: 4px; }

.dc-dropdown:active .dc-dropdown__select-arrow, .dc-dropdown:focus .dc-dropdown__select-arrow, .dc-dropdown--show .dc-dropdown__select-arrow {
  color: var(--text-general); }

.dc-dropdown__list {
  left: 0;
  bottom: -0.8rem;
  height: 0;
  width: 100%;
  position: absolute;
  transition: transform 0.25s ease, opacity 0.25s linear;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  opacity: 0;
  transform: scale(1, 0);
  z-index: 999; }

.dc-dropdown__list--enter, .dc-dropdown__list--exit {
  transform: scale(1, 0);
  opacity: 0; }

.dc-dropdown__list--enter-done {
  transform: scale(1, 1);
  opacity: 1; }

.dc-dropdown__list--top {
  bottom: unset;
  top: 0.8em; }

.dc-dropdown__list--left {
  top: -0.1em; }

.dc-dropdown__list--left--enter, .dc-dropdown__list--left--exit {
  transform: scale(1, 1) translate3d(2em, 0, 0px);
  opacity: 0; }

.dc-dropdown__list--left--enter-done {
  opacity: 1; }

.dc-dropdown--left .dc-dropdown__display {
  text-align: center; }

.dc-dropdown--left .dc-dropdown__display-text {
  padding-left: unset; }

.dc-dropdown--left .dc-dropdown__display-symbol {
  right: 0;
  float: right;
  position: relative;
  margin-left: auto;
  margin-right: 0.6em; }

.dc-dropdown--left .dc-dropdown__select-arrow {
  transform: rotate(90deg);
  left: 0.6em;
  right: unset; }

.dc-dropdown--show .dc-dropdown__display {
  border: 1px solid var(--border-active); }

.dc-dropdown--show > .dc-dropdown__select-arrow {
  transform: rotate(-180deg); }

.dc-dropdown--show > .dc-dropdown__select-arrow--left {
  transform: rotate(-90deg); }

.dc-dropdown--disabled {
  pointer-events: none; }

.dc-dropdown-container {
  position: relative;
  margin-top: 8px;
  min-width: 180px;
  width: 100%; }

.dc-dropdown--has-placeholder .dc-dropdown__display {
  height: 4em; }

.dc-dropdown--has-placeholder .dc-dropdown__display .dc-dropdown__display-placeholder-text {
  color: var(--text-less-prominent); }

.dc-dropdown--has-placeholder .dc-dropdown__display--clicked .dc-dropdown__display-placeholder-text {
  color: #85acb0 !important;
  color: var(--brand-secondary) !important; }

.dc-dropdown--has-placeholder .dc-dropdown__select-arrow {
  top: 12px;
  right: 16px; }

:root {
  --text-size-xxs: 1.2rem;
  --text-size-xs: 1.4rem;
  --text-size-s: 1.6rem;
  --text-size-sm: 2rem;
  --text-size-m: 2.4rem;
  --text-size-l: 3.2rem;
  --text-size-xl: 4.8rem;
  --text-size-xxl: 6.4rem;
  --brand-dark-grey: #0e0e0e;
  --brand-red-coral: #ff444f;
  --brand-orange: #ff6444;
  --brand-secondary: #85acb0; }

:root .theme--light {
  --general-main-1: #fff;
  --general-main-2: #fff;
  --general-section-1: #f2f3f4;
  --general-section-2: #f2f3f4;
  --general-disabled: #eaeced;
  --general-hover: #e6e9e9;
  --general-active: #d6dadb;
  --text-prominent: #333;
  --text-general: #333;
  --text-less-prominent: #999;
  --text-disabled: #d6d6d6;
  --text-profit-success: #4bb4b3;
  --text-loss-danger: #ec3f3f;
  --text-colored-background: #fff;
  --purchase-main-1: #4bb4b3;
  --purchase-section-1: #3d9494;
  --purchase-main-2: #ec3f3f;
  --purchase-section-2: #d33636;
  --purchase-disabled-main: #eaeced;
  --purchase-disabled-section: #e6e9e9;
  --button-primary-default: var(--brand-red-coral);
  --button-secondary-default: #999;
  --button-tertiary-default: transparent;
  --button-primary-hover: #eb3e48;
  --button-secondary-hover: rgba(0,0,0,0.0784314);
  --button-tertiary-hover: rgba(255,68,79,0.0784314);
  --overlay-outside-dialog: rgba(0,0,0,0.721569);
  --overlay-inside-dialog: rgba(255,255,255,0.960784);
  --shadow-menu: rgba(0,0,0,0.160784);
  --state-normal: #fff;
  --state-hover: #e6e9e9;
  --state-active: #d6dadb;
  --state-disabled: #eaeced;
  --border-normal: #d6dadb;
  --border-hover: #999;
  --border-active: var(--brand-secondary);
  --border-disabled: #eaeced;
  --fill-normal: #fff;
  --fill-hover: #999;
  --fill-active: var(--brand-secondary);
  --fill-disabled: #eaeced;
  --status-default: #eaeced;
  --status-danger: #ec3f3f;
  --status-success: #4bb4b3;
  --status-warning: #ffad3a;
  --status-info: #377cfc;
  --status-colored-background: #fff;
  --transparent-success: transparentize(#4bb4b3, 0.92); }

:root .theme--dark {
  --general-main-1: #0e0e0e;
  --general-main-2: #151717;
  --general-section-1: #151717;
  --general-section-2: #0e0e0e;
  --general-disabled: #1d1f20;
  --general-hover: #242828;
  --general-active: #323738;
  --text-prominent: #fff;
  --text-general: #c2c2c2;
  --text-less-prominent: #6e6e6e;
  --text-disabled: #3e3e3e;
  --text-profit-success: #00a79e;
  --text-loss-danger: #cc2e3d;
  --text-colored-background: #fff;
  --purchase-main-1: #00a79e;
  --purchase-section-1: #008079;
  --purchase-main-2: #cc2e3d;
  --purchase-section-2: #a32430;
  --purchase-disabled-main: #1d1f20;
  --purchase-disabled-section: #0e0e0e;
  --button-primary-default: var(--brand-red-coral);
  --button-secondary-default: #6e6e6e;
  --button-tertiary-default: transparent;
  --button-primary-hover: #eb3e48;
  --button-secondary-hover: rgba(0,0,0,0.0784314);
  --button-tertiary-hover: rgba(255,68,79,0.0784314);
  --overlay-outside-dialog: rgba(0,0,0,0.721569);
  --overlay-inside-dialog: rgba(14,14,14,0.960784);
  --shadow-menu: rgba(0,0,0,0.301961);
  --state-normal: #0e0e0e;
  --state-hover: #242828;
  --state-active: #323738;
  --state-disabled: #1d1f20;
  --border-normal: #323738;
  --border-hover: #6e6e6e;
  --border-active: var(--brand-secondary);
  --border-disabled: #1d1f20;
  --fill-normal: #0e0e0e;
  --fill-hover: #6e6e6e;
  --fill-active: var(--brand-secondary);
  --fill-disabled: #1d1f20;
  --status-default: #eaeced;
  --status-danger: #cc2e3d;
  --status-warning: #ffad3a;
  --status-success: #00a79e;
  --status-info: #377cfc;
  --status-colored-background: #fff;
  --transparent-success: transparentize(#00a79e, 0.92); }

.dc-list {
  position: absolute;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  z-index: 2;
  border-radius: 4px;
  box-shadow: 0 2px 8px 0 var(--shadow-menu);
  background: var(--state-normal); }

.dc-list--left {
  width: unset; }

.dc-list--left .dc-list__item-text, .dc-list--left .dc-list__item-symbol {
  padding-left: 2.286em;
  padding-right: 2.286em;
  overflow: hidden;
  white-space: nowrap;
  text-align: center; }

.dc-list__label {
  padding: 0.6rem;
  font-size: 1.4rem;
  font-weight: bold;
  color: #ff444f;
  color: var(--brand-red-coral);
  height: 3.6rem;
  display: flex;
  align-items: center;
  justify-content: center; }

.dc-list__item {
  width: 100%;
  cursor: pointer; }

.dc-list__item-text, .dc-list__item-symbol {
  font-size: 1.4em;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 400;
  text-transform: capitalize;
  text-align: left;
  line-height: 1.5;
  color: var(--text-general);
  display: flex;
  width: 100%;
  justify-content: center;
  pointer-events: none;
  vertical-align: middle;
  padding: 0.6rem 0;
  padding-left: 1.6em; }

.dc-list__item-text--left {
  justify-content: flex-start;
  padding-left: 1em; }

.dc-list__item:not(.dc-list__item--disabled):hover {
  background-color: var(--state-hover);
  color: var(--text-general); }

.dc-list__item--selected .dc-list__item-text, .dc-list__item--selected .dc-list__item-symbol, .dc-list__item--selected .dc-list__item-tooltip {
  font-size: 1.4em;
  color: #fff;
  font-weight: 700;
  text-transform: capitalize;
  text-align: left;
  line-height: 1.5;
  color: var(--text-prominent);
  background: var(--state-active); }

.dc-list__item--highlighted:not(.dc-list__item--disabled) {
  background-color: var(--state-hover);
  color: var(--text-general); }

.dc-list__item--disabled {
  color: var(--text-disabled);
  opacity: 0.3;
  cursor: default; }

.dc-list__item-symbol {
  font-size: 1.4em;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 400;
  text-transform: capitalize;
  text-align: left;
  line-height: 1.5;
  width: 100%;
  padding: 0.6rem 0;
  margin: 0;
  text-align: center;
  justify-content: center;
  display: flex;
  color: var(--text-general); }

.dc-list__separator {
  display: flex;
  width: calc(100% - 3.2rem);
  border-bottom: 1px solid var(--general-section-2);
  margin: 1.6rem; }

@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    .dc-list > div:nth-child(1) > div:nth-child(1) {
      overflow-y: scroll !important;
      overflow-x: hidden !important; }
    .dc-list > div:nth-child(1) > div:nth-child(1)::-webkit-scrollbar {
      -webkit-appearance: none; }
    .dc-list > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) {
      padding-bottom: 11.5em !important; } } }

:root {
  --text-size-xxs: 1.2rem;
  --text-size-xs: 1.4rem;
  --text-size-s: 1.6rem;
  --text-size-sm: 2rem;
  --text-size-m: 2.4rem;
  --text-size-l: 3.2rem;
  --text-size-xl: 4.8rem;
  --text-size-xxl: 6.4rem;
  --brand-dark-grey: #0e0e0e;
  --brand-red-coral: #ff444f;
  --brand-orange: #ff6444;
  --brand-secondary: #85acb0; }

:root .theme--light {
  --general-main-1: #fff;
  --general-main-2: #fff;
  --general-section-1: #f2f3f4;
  --general-section-2: #f2f3f4;
  --general-disabled: #eaeced;
  --general-hover: #e6e9e9;
  --general-active: #d6dadb;
  --text-prominent: #333;
  --text-general: #333;
  --text-less-prominent: #999;
  --text-disabled: #d6d6d6;
  --text-profit-success: #4bb4b3;
  --text-loss-danger: #ec3f3f;
  --text-colored-background: #fff;
  --purchase-main-1: #4bb4b3;
  --purchase-section-1: #3d9494;
  --purchase-main-2: #ec3f3f;
  --purchase-section-2: #d33636;
  --purchase-disabled-main: #eaeced;
  --purchase-disabled-section: #e6e9e9;
  --button-primary-default: var(--brand-red-coral);
  --button-secondary-default: #999;
  --button-tertiary-default: transparent;
  --button-primary-hover: #eb3e48;
  --button-secondary-hover: rgba(0,0,0,0.0784314);
  --button-tertiary-hover: rgba(255,68,79,0.0784314);
  --overlay-outside-dialog: rgba(0,0,0,0.721569);
  --overlay-inside-dialog: rgba(255,255,255,0.960784);
  --shadow-menu: rgba(0,0,0,0.160784);
  --state-normal: #fff;
  --state-hover: #e6e9e9;
  --state-active: #d6dadb;
  --state-disabled: #eaeced;
  --border-normal: #d6dadb;
  --border-hover: #999;
  --border-active: var(--brand-secondary);
  --border-disabled: #eaeced;
  --fill-normal: #fff;
  --fill-hover: #999;
  --fill-active: var(--brand-secondary);
  --fill-disabled: #eaeced;
  --status-default: #eaeced;
  --status-danger: #ec3f3f;
  --status-success: #4bb4b3;
  --status-warning: #ffad3a;
  --status-info: #377cfc;
  --status-colored-background: #fff;
  --transparent-success: transparentize(#4bb4b3, 0.92); }

:root .theme--dark {
  --general-main-1: #0e0e0e;
  --general-main-2: #151717;
  --general-section-1: #151717;
  --general-section-2: #0e0e0e;
  --general-disabled: #1d1f20;
  --general-hover: #242828;
  --general-active: #323738;
  --text-prominent: #fff;
  --text-general: #c2c2c2;
  --text-less-prominent: #6e6e6e;
  --text-disabled: #3e3e3e;
  --text-profit-success: #00a79e;
  --text-loss-danger: #cc2e3d;
  --text-colored-background: #fff;
  --purchase-main-1: #00a79e;
  --purchase-section-1: #008079;
  --purchase-main-2: #cc2e3d;
  --purchase-section-2: #a32430;
  --purchase-disabled-main: #1d1f20;
  --purchase-disabled-section: #0e0e0e;
  --button-primary-default: var(--brand-red-coral);
  --button-secondary-default: #6e6e6e;
  --button-tertiary-default: transparent;
  --button-primary-hover: #eb3e48;
  --button-secondary-hover: rgba(0,0,0,0.0784314);
  --button-tertiary-hover: rgba(255,68,79,0.0784314);
  --overlay-outside-dialog: rgba(0,0,0,0.721569);
  --overlay-inside-dialog: rgba(14,14,14,0.960784);
  --shadow-menu: rgba(0,0,0,0.301961);
  --state-normal: #0e0e0e;
  --state-hover: #242828;
  --state-active: #323738;
  --state-disabled: #1d1f20;
  --border-normal: #323738;
  --border-hover: #6e6e6e;
  --border-active: var(--brand-secondary);
  --border-disabled: #1d1f20;
  --fill-normal: #0e0e0e;
  --fill-hover: #6e6e6e;
  --fill-active: var(--brand-secondary);
  --fill-disabled: #1d1f20;
  --status-default: #eaeced;
  --status-danger: #cc2e3d;
  --status-warning: #ffad3a;
  --status-success: #00a79e;
  --status-info: #377cfc;
  --status-colored-background: #fff;
  --transparent-success: transparentize(#00a79e, 0.92); }

.dc-popover__target__icon--disabled .info .color1-fill {
  fill: var(--text-disabled); }

.dc-popover__target__icon--disabled .info .color1-stroke {
  stroke: var(--text-disabled); }

.dc-popover__target__icon--disabled .info .color2-fill {
  fill: none; }

.dc-popover__target__icon--disabled .info .color2-stroke {
  stroke: none; }

.dc-popover__target__icon .info:hover .color1-fill {
  fill: var(--text-prominent); }

.dc-popover__target__icon .info:hover .color1-stroke {
  stroke: var(--text-prominent); }

.dc-popover__target__icon .info .color1-fill {
  fill: var(--text-less-prominent); }

.dc-popover__target__icon .info .color1-stroke {
  stroke: var(--text-less-prominent); }

.dc-popover__bubble {
  font-size: 1.2em;
  color: #fff;
  font-weight: 400;
  text-transform: none;
  text-align: center;
  line-height: 1.25;
  cursor: help;
  position: fixed;
  padding: 0.7em;
  max-width: 280px;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  background: var(--status-default);
  color: #0e0e0e; }

.dc-popover__bubble__icon {
  flex-grow: 1;
  margin-right: 0.7em;
  padding-top: 3px; }

.dc-popover__bubble__text {
  flex-grow: 2;
  text-align: left; }

.dc-popover__bubble__arrow {
  position: absolute;
  border-width: 5px;
  border-style: solid;
  border-color: transparent; }

.dc-popover__bubble[data-popover-pos=top], .dc-popover__bubble[data-popover-pos=bottom] {
  margin: 1em 0; }

.dc-popover__bubble[data-popover-pos=left], .dc-popover__bubble[data-popover-pos=right] {
  margin: 0 1em; }

.dc-popover__bubble[data-popover-pos=left] .dc-popover__bubble__arrow {
  left: 100%;
  top: 50%;
  margin-top: -5px;
  border-left-color: var(--status-default); }

.dc-popover__bubble[data-popover-pos=right] .dc-popover__bubble__arrow {
  right: 100%;
  top: 50%;
  margin-top: -5px;
  border-left-color: var(--status-default); }

.dc-popover__bubble[data-popover-pos=top] .dc-popover__bubble__arrow {
  left: 50%;
  top: 100%;
  margin-left: -5px;
  border-left-color: var(--status-default); }

.dc-popover__bubble[data-popover-pos=bottom] .dc-popover__bubble__arrow {
  left: 50%;
  bottom: 100%;
  margin-left: -5px;
  border-left-color: var(--status-default); }

.dc-popover__bubble--error {
  background-color: var(--status-danger); }

.dc-popover__bubble--error[data-popover-pos=left] .popover__bubble__arrow {
  border-left-color: var(--status-danger); }

.dc-popover__bubble--error[data-popover-pos=right] .popover__bubble__arrow {
  border-right-color: var(--status-danger); }

.dc-popover__bubble--error[data-popover-pos=top] .popover__bubble__arrow {
  border-top-color: var(--status-danger); }

.dc-popover__bubble--error[data-popover-pos=bottom] .popover__bubble__arrow {
  border-bottom-color: var(--status-danger); }

