/*------------------------------------*
 *  # Constants
 *------------------------------------*/
/* stylelint-disable color-no-hex */
/* COLOR PALETTE */
/* colors */
/* alpha colors */
:root {
  --text-size-xxs: 1.2rem;
  --text-size-xs: 1.4rem;
  --text-size-s: 1.6rem;
  --text-size-sm: 2rem;
  --text-size-m: 2.4rem;
  --text-size-l: 3.2rem;
  --text-size-xl: 4.8rem;
  --text-size-xxl: 6.4rem;
  --brand-dark-grey: #0e0e0e;
  --brand-red-coral: #ff444f;
  --brand-orange: #ff6444;
  --brand-secondary: #85acb0; }
  :root .theme--light {
    --general-main-1: #ffffff;
    --general-main-2: #ffffff;
    --general-section-1: #f2f3f4;
    --general-section-2: #f2f3f4;
    --general-disabled: #eaeced;
    --general-hover: #e6e9e9;
    --general-active: #d6dadb;
    --text-prominent: #333333;
    --text-general: #333333;
    --text-less-prominent: #999999;
    --text-disabled: #d6d6d6;
    --text-profit-success: #4bb4b3;
    --text-loss-danger: #ec3f3f;
    --text-colored-background: #ffffff;
    --purchase-main-1: #4bb4b3;
    --purchase-section-1: #3d9494;
    --purchase-main-2: #ec3f3f;
    --purchase-section-2: #d33636;
    --purchase-disabled-main: #eaeced;
    --purchase-disabled-section: #e6e9e9;
    --button-primary-default: var(--brand-red-coral);
    --button-secondary-default: #999999;
    --button-tertiary-default: transparent;
    --button-primary-hover: #eb3e48;
    --button-secondary-hover: rgba(0, 0, 0, 0.08);
    --button-tertiary-hover: rgba(255, 68, 79, 0.08);
    --overlay-outside-dialog: rgba(0, 0, 0, 0.72);
    --overlay-inside-dialog: rgba(255, 255, 255, 0.96);
    --shadow-menu: rgba(0, 0, 0, 0.16);
    --state-normal: #ffffff;
    --state-hover: #e6e9e9;
    --state-active: #d6dadb;
    --state-disabled: #eaeced;
    --border-normal: #d6dadb;
    --border-hover: #999999;
    --border-active: var(--brand-secondary);
    --border-disabled: #eaeced;
    --fill-normal: #ffffff;
    --fill-hover: #999999;
    --fill-active: var(--brand-secondary);
    --fill-disabled: #eaeced;
    --status-default: #eaeced;
    --status-danger: #ec3f3f;
    --status-success: #4bb4b3;
    --status-warning: #ffad3a;
    --status-info: #377cfc;
    --status-colored-background: #ffffff;
    --transparent-success: rgba(75, 180, 179, 0.92); }
  :root .theme--dark {
    --general-main-1: #0e0e0e;
    --general-main-2: #151717;
    --general-section-1: #151717;
    --general-section-2: #0e0e0e;
    --general-disabled: #1d1f20;
    --general-hover: #242828;
    --general-active: #323738;
    --text-prominent: #ffffff;
    --text-general: #c2c2c2;
    --text-less-prominent: #6e6e6e;
    --text-disabled: #3e3e3e;
    --text-profit-success: #00a79e;
    --text-loss-danger: #cc2e3d;
    --text-colored-background: #ffffff;
    --purchase-main-1: #00a79e;
    --purchase-section-1: #008079;
    --purchase-main-2: #cc2e3d;
    --purchase-section-2: #a32430;
    --purchase-disabled-main: #1d1f20;
    --purchase-disabled-section: #0e0e0e;
    --button-primary-default: var(--brand-red-coral);
    --button-secondary-default: #6e6e6e;
    --button-tertiary-default: transparent;
    --button-primary-hover: #eb3e48;
    --button-secondary-hover: rgba(255, 255, 255, 0.08);
    --button-tertiary-hover: rgba(255, 68, 79, 0.08);
    --overlay-outside-dialog: rgba(0, 0, 0, 0.72);
    --overlay-inside-dialog: rgba(14, 14, 14, 0.96);
    --shadow-menu: rgba(0, 0, 0, 0.84);
    --state-normal: #0e0e0e;
    --state-hover: #242828;
    --state-active: #323738;
    --state-disabled: #1d1f20;
    --border-normal: #323738;
    --border-hover: #6e6e6e;
    --border-active: var(--brand-secondary);
    --border-disabled: #1d1f20;
    --fill-normal: #0e0e0e;
    --fill-hover: #6e6e6e;
    --fill-active: var(--brand-secondary);
    --fill-disabled: #1d1f20;
    --status-default: #eaeced;
    --status-danger: #cc2e3d;
    --status-warning: #ffad3a;
    --status-success: #00a79e;
    --status-info: #377cfc;
    --status-colored-background: #ffffff;
    --transparent-success: rgba(0, 167, 158, 0.92); }

/* Preserve legacy variables */
/* Primary */
/* stylelint-enable color-no-hex */
/*------------------------------------*
 *  # SASS Mixins and Functions
 *------------------------------------*/
/*
 * SASS interpolation
 */
/*
 * PX to EM
 * @param $px - px value to be converted
 * @param $base - base font size (in `em`)
 * Note: 'em' values are calculate based on the element font-size
 *       to properly converts 'px' to 'em', please pass in the element font-size with it
 * Usage example:
    padding: em(16px, 1.6em); // font-size in 'em'
 */
/*
 * Set property by passing a property name, and values.
 * @param $property name - padding, margin etc.
 * @param $values        - values in `px` (space separated for multiple values)
 * @param $font-size     - base font-size in `em`
 * Usage example:
   @include toEm(padding, 8px 16px 8px, 1.6em);
 */
/*
 * Generate typefaces key-value pair of variable name and config
 * Example:
   --paragraph-center-bold-black: (14px, center, bold, black)
 */
/*
 * Sets font-size, font-weight, color, text-transform, text-align and line-height
 * Usage example:
   @include setTypeface(16px, bold, black, uppercase);
 */
/*
 * Set typefaces by passing a typeface variable name
 * @param $var   - typeface variable
 * @param $tt    - text-transform property
 * @param $align - text-align property
 * Usage example:
   @include typeface(--paragraph-bold-black, uppercase, center);
 */
/*
 * Range Slider Thumb styling is set here
 */
/*
 * SVG icons colors
 */
/*
 * Bar Spinner Animation
 * @param $count    - number of bars
 * @param $duration - duration of animation
 * @param $phase    - each bar phase change delay
 * Usage example:
   @include createBarspinnerAnimation(5, 1.2s, 0,1);
 */
/*
 * Implementation of themes
 * generate sets of themes keys object property (dark / light)
 * @param $themes - themes property
 * Usage example:
   @include themify($themes) { color: themed('background_color') }
 */
/*
 * Generate typefaces key-value pair of themefy object
 * Should be inside themify mixins
 * Example:
   @include themify($themes) { border-color: 1px solid themed('background_color') }
 */
/*
 * Tooltip colors
 * @param $color - color property
 * Usage example:
   @include tooltipColor($COLOR_RED);
 */
/*
 * Themified Tooltip colors
 * @param $color - color property
 * Usage example:
   @include tooltipColor($COLOR_RED);
 */
/*
 * Convert Tooltip colors
 * @param $color - css color property
 * Usage example:
   @include convertTooltipColor(var(--status-default));
 */
/*
    Constants
*/
/*
    Variables
*/
/*
    List of all typefaces variables in the format: --$FONT_SIZES-$TEXT_ALIGN-$FONT_WEIGHTS-COLORS.
    See $FONT_SIZES, $TEXT_ALIGN, $FONT_WEIGHTS, $COLORS maps above for references.
    Variables name example: --title-center-semibold-red
 */
/*
    to use styles without modifier class on .inline-icon
    use @extend

    e.g. style icon on parent hover:
        a:hover .inline-icon {
            @extend %inline-icon.active;
        }
*/
/* postcss-bem-linter: ignore */
html {
  font-size: 62.5%;
  /** TODO: define breakpoints */ }

/** @define body */
.body {
  position: relative;
  min-height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; }

/* postcss-bem-linter: ignore */
*, html, .body {
  font-family: "IBM Plex Sans", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  box-sizing: border-box; }

/** @define select */
.select {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  padding: 2px 3px;
  border: 1px solid var(--border-normal);
  border-radius: 4px; }

/** @define input */
.input {
  font-family: inherit;
  font-style: inherit;
  padding: 2px 3px;
  color: var(--text-general); }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: var(--text-general); }

::-moz-placeholder {
  /* Firefox 19+ */
  color: var(--text-general); }

:-ms-input-placeholder {
  /* IE 10+ */
  color: var(--text-general); }

:-moz-placeholder {
  /* Firefox 18- */
  color: var(--text-general); }

/** @define theme */
.theme--light {
  background: #ffffff; }

.theme--dark {
  background: #0e0e0e; }

/** @define container */
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box; }

/** @define hidden */
.hidden {
  visibility: hidden !important;
  transition: none !important; }

/** @define absolute-center-v */
.absolute-center-v {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0; }

/** @define link */
.link {
  color: #ff444f;
  color: var(--brand-red-coral);
  font-weight: bold;
  text-decoration: none; }
  .link:hover {
    text-decoration: underline;
    cursor: pointer; }
  .link--white {
    color: #ffffff; }

/** @define icon */
.icon--centered {
  top: 0.8em;
  left: 5%; }

/** @define center-text */
.center-text {
  text-align: center; }

/** @define no-margin */
.no-margin {
  margin: 0; }

/** @define hr */
.hr {
  border-top: var(--general-section-1);
  display: block;
  height: 1px;
  border: 0;
  margin: 0.5em 0;
  padding: 0; }

/** @define deriv-app */
.deriv-app {
  height: 100%;
  overflow: hidden; }

/** @define work-in-progress */
.work-in-progress {
  height: 100%;
  justify-content: center;
  display: flex;
  background: var(--general-main-2); }
  .work-in-progress__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 1.6em; }
  .work-in-progress__header {
    font-size: 2.8em;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 700;
    text-transform: none;
    text-align: center;
    line-height: unset;
    margin: 0.8em 0 0.4em;
    color: var(--text-prominent); }
  .work-in-progress__text {
    font-size: 1.6em;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 400;
    text-transform: none;
    text-align: center;
    line-height: 1.75;
    margin: 0 1.6em 2.4em;
    line-height: 1.3;
    width: 200px;
    color: var(--text-general); }
  .work-in-progress__btn {
    height: 42px;
    cursor: pointer;
    background: var(--button-primary-default); }
    .work-in-progress__btn:hover {
      background: var(--button-primary-hover); }
    .work-in-progress__btn--span {
      font-weight: normal;
      font-size: 1.6em;
      text-transform: none;
      color: var(--text-colored-background); }

